<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Ajax</title>
    <meta charset="utf-8"/>
    <style type="text/css">

    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
  
  <body>  
<h1 id="session">Session</h1>
    <label for="name">Grade:</label>
    <input type="number" id="grade" name="grade" value=9 min=9 max=12>

    <input id="update" type="button" value="Update" />
    <input id="read" type="button" value="Read" />

    <br>
<div id="logout">
    <input id="logout" type="button" value="Logout" />
</div>    

	<script src="js/session.js"></script>
	
  </body>
</html>  
  
  
